{erl_opts, [debug_info, {src_dirs, ["src", "src/app", "src/backend", "src/channel", "src/tcp", "src/protocol", "src/topic", "src/stats", "src/lookupd", "src/http"]}, {i, "include"}]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"}
]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info]}
    ]}
]}.

{project_plugins, [
    {rebar3_proper, "0.12.1"}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, race_conditions]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []}
]}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
